body{
    color: white;
    font-family:'Asap', sans-serif;;
    font-size: 1.125rem;
    background-image: url(image/248366616_1229581547562812_3084773416797004884_n.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    max-width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 118px;
}

.header-container{
    min-height: 100px;
    background-color:rgb(72, 72, 72);
    position: fixed;
    width: 100%;
    top:0;
}
.header-container header{
    max-width:1024px ;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.information-logo a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    font-size: 1rem;
}
span{
    color: white;
    font-weight: bold;
} 

/* -------------------------------logo--------------------------------- */
.mobile-logo{
    display: none;
}
/* -----------------------------nav------------------------------------ */
nav{
    width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbutton a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    text-transform: uppercase;
    padding: 8px 25px;
    font-size: 1rem;
} 
.menu-buger{
    width: 50px;
    display: none;
}
.desktop{
    display: none;
}

/* ---------------------------------------container------------------------------- */
/* ----------------------------------------content-------------------------------- */
.col{
    width: 30%;
    margin-top: 20px;
    box-shadow: 0 3px 6px #000000;
}
.content{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.col img{
    width: 100%;
    height: auto;
}
.col p{
    background-color: rgb(43, 226, 147);
    padding: 30px 0px;
    text-align: center;
    font-size: 0.875rem;
}

/* từ 0 --> 768px thì dùng style này  */
/* nếu có thêm media thì + 1 đến vị trí đã định vd 501px --> 768px */
/* table screen */
@media (max-width: 780px) {
    /* .header-container header{
        display: flex;
        flex-direction: column;
    } */
    .desktop{
        display: block;
    }
/* --------------------------nav tablet---------------------- */
    .desktop-logo{
        display:none
    }   

    .mobile-logo{
        display: block;

    }
    .mobile-logo span{
        border-right: 1px solid white;
        padding-right: 15px;
        margin-right: 10px;
    }
    .navbutton{
        display: flex;
        flex-direction: column;
        background-color:rgb(255,127,80);
    }
    
    .navbutton a{
       text-align: center; 
       border: none;
    }
    .navbutton:nth-child(2){
        border-top: 0.5px solid white;
    }
    .information-logo p{
        padding: 20px 0px;
    }

    nav{
        width: 200px;
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top:100px;
        right: 0px;
    } 
    
    .menu-buger{
        display: block;
        padding: 0 20px;
        position: relative;
    }

/* ----------------------------phần content --------------------------*/
    .col{
       width:48%;
       
   }
   
} 
/* từ 0 --> 500px */
/* mobie screen */
@media (max-width: 480px){
  /* ---- -------------------logo------------------------------- */
  .desktop-logo{
      display: none;
  }
  .mobile-logo{
      display: block;
      display: flex;
      flex-direction: column;
  }

  .mobile-logo span{
      border: none;
  }
    .col{
        width: 100%;
    }
} 

/* <img src="images/pug-charles-unsplash-small.jpg" alt="" srcset="images/pug-charles-unsplash-small.jpg 500w, images/pug-charles-unsplash-medium.jpg 1000w,
  images/pug-charles-unsplash-big.jpg 1500w"> */